<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../js/vue.js"></script>
<body>
    <div id="root">
        <h2 v-show="false">欢迎{{name}}</h2>
        <h2 v-show="true">n的值：{{n}}</h2>
        <button @click="n++">Click to n++</button>
        <!-- <h2 v-if="n === 1">React</h2> -->
        <!-- <h2 v-else-if="n === 1">ReactTest</h2> -->
        <!-- <h2 v-else-if="n === 2">Vue</h2> -->
        <!-- <h2 v-else-if="n === 3">JavaScript</h2> -->
        <!-- <h2 v-else:>Nothing!</h2> -->
        <template v-if="n === 1">
            <h2>React</h2>
            <h2>ReactTest</h2>
            <h2>Vue</h2>
            <h2>JavaScript</h2>
            <h2>Nothing!</h2>
        </template>


    </div>
    <script>
        Vue.config.productionTip = false;

        const vm = new Vue({
            el:'#root',
            data: {
                name:'ftr',
                n:0
            },
        })
    </script>
</body>
</html>